{% spaceless %}
<div id="searchBar" class="search-bar" >
    {# url action depends on which tab is active #}
    {% if active_tab == "tags" %}
        <input type="hidden" name="t" value="tag"/>
        {% set query=stag %}
    {% elif active_tab == "users" %}
        <input type="hidden" name="t" value="user"/>
    {% endif %}
    <input 
        class="searchInput" 
        type="text" 
        autocomplete="off"
        value="{{ query|default_if_none('')|escape }}" 
        name="query" 

        {% if active_tab == "tags" %}
            placeholder="{% trans %}search tag{% endtrans %}"
        {% elif active_tab == "users" %}
            placeholder="{% trans %}search user{% endtrans %}"
        {% else %}
            placeholder="{% trans %}search question{% endtrans %}"        
        {% endif %}

        id="keywords"
    />
    <input type="submit" value="" name="search" class="searchBtn" />
</div>
{% endspaceless %}
